body {
    background-color: black;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

.wholeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {   
    color: aquamarine;
    font-size: 16px;
   }

h2 {
    color: white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-family: Verdana;
    font-size: 21px;
}

#cellPhone {
    padding-top:40px;
}

div + p {
    text-align: right;
    color: gray;
}

@media screen and (max-width: 1250px) {
    body {
        background-color: cyan;
    }
    h1, h2 {
        font-size: 36px;
    }
}
@media screen and (max-width: 900px) {
    body {
        background-color: gold;
    }
    h1, h2 {
        font-size: 24px;
    }

    #imageOnPhoneScreen {
width: fit-content;
    }
}
@media screen and (max-width: 700px) {
    body {
        background-color: red;
    }
    h1, h2 {
        font-size: 14px;
    }

    #imageOnPhoneScreen {
width: 100px;
    }
}